/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

#userCreateForm label.error {
    color: red;
    font-size: .7em;
}
#userCreateForm input.error {
    border: 1px solid red;
    background: #FFFFCC;
}